
#col1{
  display: flex;
}
#col2{
display:flex;
}
#col3{
  display: flex;

}
.box{
  width:6vw;
  height: 6.06vw;
}
#box1{
border-right:0.30vw solid black;
border-bottom: 0.30vw solid black;
}
#box2{
border-right:0.30vw solid black;
border-bottom: 0.30vw solid black;
}
#box3{
border-bottom: 0.30vw solid black;
}#box4{
  border-right:0.30vw solid black;
  border-bottom: 0.30vw solid black;
}#box5{
  border-right:0.30vw solid black;
  border-bottom: 0.30vw solid black;
}#box6{
  border-bottom: 0.30vw solid black;
}#box7{
  border-right:0.30vw solid black;
}#box8{
  border-right:0.30vw solid black;
}#box9{

}
img{
  border:0em solid white;
}
div img{
  height:3.63vw;
  width:3.63vw;
  margin-left: 1.21vw;
  margin-top: 1.21vw;
}
